[ req ]
default_bits           = 4096
days                   = 9999
distinguished_name     = req_distinguished_name
attributes             = req_attributes
prompt                 = no
output_password        = password
x509_extensions        = v3_ca

[ req_distinguished_name ]
C                      = US
ST                     = CA
L                      = LA
O                      = Signal Mock
OU                     = Signal Mock
CN                     = Signal Mock CA
emailAddress           = indutny@signal.org

[ req_attributes ]

[ v3_ca ]
basicConstraints = CA:TRUE
